PORT=5000

REQUEST_TYPE=custom

CUSTOM_API_BASE_URL=
CUSTOM_API_KEY=
CUSTOM_API_MODEL=

GROQ_API_KEY=
GROQ_MODEL=

OPENAI_API_KEY=
OPENAI_MODEL=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=

SENTENCES_IN_PROMPT=3
